<div class="d-flex justify-content-center">
  <nav id="navbar" class="navbar navbar-light bg-transparent">
    <p id="brand" class="navbar-brand" href="">Featured</p>
    <form class="form-inline mr-sm-2">
      <input id="search" class="form-control my-2 my-sm-0" type="search" placeholder="Search" aria-label="Search">
    </form>
  </nav>
</div>

<hr>
<span class="tag">Food</span>
<span class="tag">City</span>
<span class="tag">Nature</span>
<span class="tag">Art</span>
<span class="tag">People</span>

